<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="Rolling Xml Trace Listener" type="Samples.TraceListeners.RollingXmlTraceListener, Samples.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" listenerDataType="Samples.TraceListeners.Configuration.RollingXmlTraceListenerData, Samples.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" fileName="rolling.svclog" rollFileExistsBehavior="Overwrite" rollInterval="Minute" timeStampPattern="yyyy-MM-dd-HH-mm" maxArchivedFiles="7" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
    </listeners>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Xml Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Xml Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
