<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    </configSections>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Failure Category">
        <listeners>
            <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None"/>
            <add name="Fail Custom Rolling Flat File Trace Listener" type="Samples.TraceListeners.RollingFlatFileTraceListener, Samples.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" listenerDataType="Samples.TraceListeners.Configuration.RollingFlatFileTraceListenerData, Samples.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" fileName="\\networkdrive\dir\rolling.log" formatter="Text Formatter" rollSizeKB="1024" maxArchivedFiles="1"/>
          <add name="Success Custom Rolling Flat File Trace Listener" type="Samples.TraceListeners.RollingFlatFileTraceListener, Samples.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" listenerDataType="Samples.TraceListeners.Configuration.RollingFlatFileTraceListenerData, Samples.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" fileName="..\..\logs\rolling.log" formatter="Text Formatter" rollSizeKB="1024" maxArchivedFiles="1"/>
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Machine: {localMachine}{newline}
App Domain: {localAppDomain}{newline}
ProcessId: {localProcessId}{newline}
Process Name: {localProcessName}{newline}
Thread Name: {threadName}{newline}
Win32 ThreadId:{win32ThreadId}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
        </formatters>
        <categorySources>
            <add switchValue="All" name="Failure Category">
                <listeners>
                    <add name="Fail Custom Rolling Flat File Trace Listener"/>
                </listeners>
            </add>
            <add switchValue="All" name="Success Category">
                <listeners>
                    <add name="Success Custom Rolling Flat File Trace Listener"/>
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events"/>
            <notProcessed switchValue="All" name="Unprocessed Category"/>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Event Log Listener"/>
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
